.rowStyle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .mlr-10 {
    margin: 0 40px;
  }
  .color-number {
    color: #1890ff;
    margin: 0 5px;
    cursor: pointer;
  }
}
